/*report*/
.report-content{
	padding-top:60px;
}

.ui-selectonemenu-panel .ui-selectonemenu-list {
	padding: 0px;
}

.main-title {
    font-size: 32px;
    line-height: 42px;
    color: #333333;
    font-family: 'Gotham Rounded Bold', 'Open Sans', sans-serif;
    margin: 0 auto;
    text-align: center;
}

.page-content {
  width: 70%;
  margin-left: 60px;
  max-width: 80%;
}
.page-content .section-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.page-content .section-wrapper:first-child {
  margin-top: 0;
}
.report-export-title-container .report-export-title {
	font-size: 32px;
	font-weight: bold;
}

.fa-file-excel:before {
    font-size: 160px;
    color: rgba(29,112,68);
    cursor: pointer;
}
.fa-file-pdf:before {
	font-size: 160px;
	color: rgba(208,10,10);
	cursor: pointer;
}
.ui-selectcheckboxmenu-multiple-container.ui-inputfield {
	max-width: 300px;
	min-width: 215px;
}
